security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Utilisateur
                property: login

    role_hierarchy:
        ROLE_ADMIN:
            - ROLE_DMAX
            - ROLE_AGENT_RECUPERATION

    firewalls:
        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: login
                check_path: login
                default_target_path: /
            logout:
                path: app_logout

    access_control:
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/dmax, roles: [ROLE_DMAX, ROLE_AGENT_RECUPERATION] }
        - { path: ^/logistique, roles: [ROLE_DMAX, ROLE_AGENT_RECUPERATION] }
        - { path: ^/boutique, roles: [ROLE_AGENT, ROLE_TELETRAVAILLEUR, ROLE_PARTENAIRE] }
        - { path: ^/panier, roles: [ROLE_AGENT, ROLE_TELETRAVAILLEUR, ROLE_PARTENAIRE] }
        - { path: ^/commande, roles: [ROLE_AGENT, ROLE_TELETRAVAILLEUR, ROLE_PARTENAIRE] }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
