framework:
    workflows:
        commande_lifecycle:
            type: state_machine
            marking_store:
                type: method
                property: statutValue
            supports:
                - App\Entity\Commande
            initial_marking: en_attente_validation
            places:
                - en_attente_validation
                - validee
                - a_preparer
                - en_preparation
                - prete
                - retiree
                - annulee
            transitions:
                valider:
                    from: en_attente_validation
                    to: validee
                planifier_preparation:
                    from: validee
                    to: a_preparer
                demarrer_preparation:
                    from: a_preparer
                    to: en_preparation
                terminer_preparation:
                    from: en_preparation
                    to: prete
                acter_retrait:
                    from: prete
                    to: retiree
                annuler_commande:
                    from:
                        - en_attente_validation
                        - validee
                        - a_preparer
                        - en_preparation
                        - prete
                    to: annulee
