<p>Bonjour {{ commande.commandeContactTmp ? commande.commandeContactTmp.prenomGrh : '' }} {{ commande.commandeContactTmp ? commande.commandeContactTmp.nomGrh : '' }},</p>

<p>Nous sommes désolés, mais votre commande CARAMEL n’a pas pu être acceptée.</p>
<p>Elle a été annulée et les articles sont remis en disponibilité.</p>
<p>Vous pouvez effectuer une nouvelle commande.</p>

<p>L’équipe CARAMEL</p>
